<ion-header>
  <ion-toolbar>
    <ion-icon size="large" slot="start" name="logo-designernews"></ion-icon>
    <ion-title>
      Mis Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="container">
  <ion-list>
    <ion-card *ngFor="let item of items; let i = index">
      <img [src]="'https://picsum.photos/400/200?random=' + i" alt="news" />
      <ion-card-header>
        <ion-card-title>{{item.title}}</ion-card-title>
        <ion-card-subtitle>{{item.date | date}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{item.description}}
      </ion-card-content>
      <ion-button expand="block" color="danger" (click)="deleteNewsNote(item)">Eliminar la noticia
        <ion-icon slot="end" name="trash"></ion-icon>
      </ion-button>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>